input[type=range] {
  -webkit-appearance: none;
  margin: 3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  cursor: pointer;
  background: #ccc;
  border-radius: 0px;
}
input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 16px;
  border: 2px solid #eee;
  border-radius: 3px;
  background: #666;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]::-moz-range-track {
  height: 3px;
  cursor: pointer;
  background: #ccc;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 2px solid #eee;
  height: 10px;
  width: 16px;
  border-radius: 3px;
  background: #666;
  cursor: pointer;
}
input[type=range]::-ms-track {
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ccc;
  border: 1px solid #eee;
  border-radius: 0px;
}
input[type=range]::-ms-fill-upper {
  background: #ccc;
  border: 1px solid #eee;
  border-radius: 0px;
}
input[type=range]::-ms-thumb {
  height: 10px;
  width: 16px;
  border-radius: 3px;
  border: 2px solid #eee;
  background: #666;
  cursor: pointer;
}
