.chores-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  --chores-gap: 16px;
  gap: var(--chores-gap);
}

.chores-list li {
  opacity: max(0.05, calc(1 - attr(data-days-remaining number)/180));

  max-height: 1000px;
  margin-block: 0;

  transition:
    opacity 250ms ease,
    max-height 250ms ease 250ms,
    margin-block 250ms ease 250ms;
  will-change: opacity, max-height, margin-block;
}

.chores-list li.completed {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin-block: calc(var(--chores-gap) * -0.5);
  pointer-events: none;
}

.chores-list li.completed-initial {
  transition: none;
}


@media only screen and (max-width: 599px){
  .chores-list-separator {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 600px){
  .chores-list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    justify-items: stretch;
    gap: var(--chores-gap);
  }

  .chores-list li {
    order: 0;
  }

  .chores-list li.completed {
    order: 1000;
  }

  .chores-list-separator  {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 800px){
  .chores-list {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    justify-items: stretch;
    gap: var(--chores-gap);
  }

  .chores-list li {
    order: 0;
  }

  .chores-list li.completed {
    order: 1000;
  }

  .chores-list-separator  {
    grid-column: span 3;
  }
}
