.chores-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chores-list li {
  opacity: max(0.05, calc(1 - attr(data-days-remaining number)/180));
}


@media only screen and (max-width: 599px){
  .chores-list-separator {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 600px){
  .chores-list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    justify-items: stretch;
    gap: 16px;
  }

  .chores-list-separator  {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 800px){
  .chores-list {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    justify-items: stretch;
    gap: 16px;
  }

  .chores-list-separator  {
    grid-column: span 3;
  }
}
