body {
  background: #333;
  color: #eee;
  display: flex;
}

div#root {
  width: 100%;
  height: 100%;
  display: flex;
}

div.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.event {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px;
  max-width: 400px;
  padding: 5px;
  background: #444;
  min-width: 200px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

section.event h2 {
  margin: 0px;
}
